*{
    margin:0px;
}
.navbar{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 20px;
    justify-content: space-between;
    border: 3px;
    border-color: black;
    height: 50px;
    width:auto;
}
.nav-item{
    color: blue;
    font-size: 25px;
}
.nav-item-container{
    display: flex;
    column-gap: 10px;
}
.logo{
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
}
.about-text{
    font-size: 20px;
}
.nom{
    font-size: 20px;
}
.center{
    border-radius: 50%;
    justify-content: center;
    width: 180px;
    height: 180px;
}
.center{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 20px;
    border: 3px ;
    border-color: black;
    height: 30px;
    width:auto;
}
.usertext{
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: antiquewhite;
    font-size:175%;
    text-align: center;
    
}
.stack{
    position: absolute;
    top: 280px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1000px;
    color: white;
}
.photo{
    border-radius: 50%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    border: 3px black;
    border-style: solid;
    background-image: src("https://images-storage.thaiware.site/tips/2020_07/728/1330_200720174156mY_119.png");
}